
input[type="_blank"]
{
    font-size: x-large;
    text-decoration: none;
}
input[type="button"]
{
    width: 120px;
    margin-left: 35px;
    background-color: yellow;
    display: block;
}

h1,h2h3
{
    color: darkblue;
}